@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&display=swap');
/* variables */
:root{
    --main-bg-color: #0E1014;
    --main-text-color: #E4E5EA;
    --main-ff: "Inter";
    --secondary-ff: "Montserrat";
}

/* Null styles */

*{
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-size: 10px;
    font-weight: 400;
}

a{
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}


html,
body {
  height: 100%;
  width: 100%;
}


body{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: var(--main-ff);
}

/* wrapper */

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    flex: 1 1 0;
    min-height: 100%;
    height: auto !important;
}

/* container */

.container{
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */

.header{
    margin-top: 57px;
}

.header_inner{
    display: flex;
    justify-content: space-between;
}

.header_text{
    display: flex;
    width: 88%;
    margin-top: 3px;
    justify-content: space-between;
    flex: 1 1 0;
}

.header_logo{
    width: 12.3%;
}

/* logo */
.logo_sup{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_sub{
    font-family: var(--secondary-ff);
    font-size: 10px;
    margin-top: 10px;
    font-weight: 300;
    line-height: 12px;
}

/* nav */

.nav{
    width: 50%;
    margin-left: 52px;
}

.nav_list{
    list-style: none;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_item{
    font-size: 16px;
}

/* contacts */

.contacts{
    display: flex;
    height: 19px;

    line-height: 19px;
    width: 30.5%;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.contacts_icons{
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    width: 38%;
    align-items: center;
}

/* main */

.main{
    margin-top: 93px;
    flex: 1 1 0;
}

.main_inner{
    display: flex;
    justify-content: space-between;
}

.main_col{
    max-width: 362px;
    display: flex;
    flex-direction: column;
}

.main_col-secondary{
    text-align: end;
    margin-top: 17px;
}

/* col */

.col_header{
    font-size: 48px;
    line-height: 58px;
}

.col_header-secondary{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    color: var(--main-text-color)
}

br{
    line-height: 0;
}

.col_header-gradient{
    font-size: inherit;
    font-weight: 900;
    max-width: 276px;
    line-height: 58px;
    background-image: linear-gradient(90deg ,#FCB045, #FF3F78);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.col_multiline_gradient{
    background-image: linear-gradient(90deg ,#fcaf44 50%, #fd1f1e);
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

.col_subtext{
    font-size: 18px;
    max-width: 275px;
    font-family: var(--secondary-ff);
    margin-top: 31px;
}

.text-gradient{
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .9px;
}

.col_grid{
    margin-top: 40px;
    align-self: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: max-content auto;
    column-gap: 30px;
    row-gap: 30px;
}


.col_btn{
    width: 262px;
    align-self: flex-end;
    border: 0;
    background-color: #4077F3;
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 19.36px;
    font-family: var(--main-ff);
    padding: 20px 0 21px 0;
    letter-spacing: .1px;
    margin-top: 62px;
    cursor: pointer;
}


/* item */

.item_header{
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .8px;
    line-height: 21.78px;
}

.item_text{
    font-size: 16px;
    font-family: var(--secondary-ff);
    margin-top: 6px;
    line-height: 20px;
}

/* footer */

.footer{
    margin-bottom: 20px;
}
