@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@300;400&display=swap');
/* variables */
:root{
    --main-bg-color: #0E1014;
    --main-text-color: #E4E5EA;
    --main-ff: "Inter";
    --secondary-ff: "Montserrat";
}

/* Null styles */

*{
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}

a{
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

body{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: var(--main-ff);
}

/* container */

.container{
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */

.header{
    margin-top: 57px;
}

.header_inner{
    display: flex;
    justify-content: space-between;
}

.header_text{
    display: flex;
    width: 88%;
    margin-top: 3px;
    justify-content: space-between;
    flex: 1 1 0;
}

.header_logo{
    width: 12.4%;
}

/* logo */
.logo_sup{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_sub{
    font-family: var(--secondary-ff);
    font-size: 10px;
    margin-top: 10px;
    font-weight: 300;
    line-height: 12px;
}

/* nav */

.nav{
    width: 50%;
    margin-left: 52px;
}

.nav_list{
    list-style: none;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_item{
    font-size: 16px;
}

/* contacts */

.contacts{
    display: flex;
    height: 19px;

    line-height: 19px;
    width: 30.5%;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.contacts_icons{
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    width: 38%;
    align-items: center;
}